[Unit]
Description=Clipse clipboard listener
After=graphical-session.target

[Service]
ExecStart=/usr/bin/clipse -listen
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
